<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AppName" value="InsightEngine"/>
		<add key="LatestLogPath" value="./latest.log"/>
		<add key="WebhookURL" value="https://discord.com/api/webhooks/1367791221241544766/wLYXwv166ONsUzBeooOEV3ttQvVulSKFw7Kzuhx0IJnscMrsYPUWEBv5CBpwJniqY57R"/>
	</appSettings>
</configuration>